<ion-header>

  <ion-navbar>
    <ion-title>My Food Log</ion-title>
    <ion-buttons left>
        <button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
    <ion-buttons end>
        <button ion-button icon-only (click)="addFoodModal()"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-list>
        <div *ngFor="let grocery of groceries">
          <ion-item (click)="toggleGrocery(grocery)" ng-class="{active: isGroceryShown(grocery)}" >
              <ion-icon right *ngIf="!isGroceryShown(grocery)" name="arrow-dropright"></ion-icon>
              <ion-icon right *ngIf="isGroceryShown(grocery)" name="arrow-dropdown"></ion-icon>
            &nbsp;
            {{getFoodDisplayForFood(grocery)}}
          </ion-item>
          <ion-item text-left padding:0 *ngIf="isGroceryShown(grocery)">
          {{showCalories(grocery)}}
          </ion-item>
          <ion-item text-left *ngIf="isGroceryShown(grocery)">
            {{showProtein(grocery)}}
          </ion-item>
          <ion-item text-left *ngIf="isGroceryShown(grocery)">
            {{showFat(grocery)}}
          </ion-item>
          <ion-item text-left *ngIf="isGroceryShown(grocery)">
            {{showCarbs(grocery)}}
          </ion-item>
          <ion-item text-left *ngIf="isGroceryShown(grocery)">
            {{showSugar(grocery)}}
          </ion-item>
        </div>
    </ion-list>

    <ion-menu [content]="mycontent">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <button ion-item (click)="addGoal()">
          Add Goal
        </button>
        <button ion-item (click)="addRestriction()">
          Add Restriction
        </button>
        <button ion-item (click)="deleteData()">
          Delete Data
        </button>
        <button ion-item (click)="scheduleImmediateNotification()">
          Schedule Notification
        </button>
        <button ion-item menuToggle>
          Close Menu
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-footer>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>Goals:</ion-item>
          </ion-col>
          <ion-col  *ngFor="let goal of getArrayOfGoals()">
            <ion-item style="margin-right:0px;max-height:50%;max-width:50%">
              <img *ngIf="goal" style="height:35px;width:35px" src="assets/imgs/checkmark.jpg" alt="your image">
              <img *ngIf="!goal" style="max-height:100%;max-width:100%" src="assets/imgs/redx.png" alt="your image">
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row wrap>
          <ion-col>
            <ion-item>Restrictions:</ion-item>
            </ion-col>
          <ion-col  *ngFor="let goal of getArrayOfRestrictions()">
            <ion-item style="margin-right:0px;max-height:50%;max-width:50%">
              <img *ngIf="goal" style="height:40px;width:40px" src="assets/imgs/checkmark.jpg" alt="your image">
              <img *ngIf="!goal" style="height:40px;width:40px" src="assets/imgs/redx.png" alt="your image">
          </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item left>Total Calories Today: {{caloriesForDay()}}</ion-item>
    </ion-title>
  </ion-footer>

</ion-content>
<ion-nav #mycontent [root]="rootPage"></ion-nav>
