<ion-header>

  <ion-navbar>
    <ion-title>Notes</ion-title>
    <ion-buttons left>
        <button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
    <ion-buttons end>
        <button ion-button icon-only (click)="addFoodModal()"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

    <ion-list>
        <ion-item *ngFor="let grocery of groceries">
        {{getFoodDisplayForFood(grocery)}}
        </ion-item>
    </ion-list>

    <ion-menu [content]="mycontent">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <button ion-item (click)="addGoal()">
          Add Goal
        </button>
        <button ion-item (click)="addRestriction()">
          Add Restriction
        </button>
        <button ion-item menuToggle>
          Close Menu
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-content>
<ion-nav #mycontent [root]="rootPage"></ion-nav>

<ion-footer style="margin:10px;">
  <ion-toolbar>
    <ion-title>
      <ion-item left>Calories: {{caloriesForDay()}}</ion-item>
      <ion-grid>
        <ion-row wrap>
          <ion-col>
            <ion-item>Goals:</ion-item>
            </ion-col>
          <ion-col  style="padding:0;"*ngFor="let goal of getArrayOfGoals()">
            <ion-item style="margin-right:0px;max-height:50%;max-width:50%">
            <img *ngIf="goal" style="max-height:100%;max-width:100%" src="assets/imgs/checkmark.jpg" alt="your image">
            <img *ngIf="!goal" style="max-height:100%;max-width:100%" src="assets/imgs/redx.png" alt="your image">
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row wrap>
          <ion-col>
            <ion-item>Restrictions:</ion-item>
            </ion-col>
          <ion-col  *ngFor="let goal of getArrayOfRestrictions()">
            <ion-item style="max-height:50%;max-width:50%">
            <img *ngIf="goal" style="max-height:100%;max-width:100%" src="assets/imgs/checkmark.jpg" alt="your image">
            <img *ngIf="!goal" style="max-height:100%;max-width:100%" src="assets/imgs/redx.png" alt="your image">
          </ion-item>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-footer>
